{% macro create_warehouse(ENV, WAREHOUSE_NAME, SIZE, CLUSTER_COUNT, AUTO_SUSPEND) -%}

{% set wh_name = ENV + '_' + WAREHOUSE_NAME + '_WH' %}

CREATE OR ALTER WAREHOUSE {{ wh_name }}
  WAREHOUSE_SIZE = '{{SIZE}}'
  AUTO_RESUME = TRUE
  INITIALLY_SUSPENDED=TRUE
  MAX_CLUSTER_COUNT = {{CLUSTER_COUNT}}
  AUTO_SUSPEND = {{AUTO_SUSPEND}}
  COMMENT = 'Warehouse for {{WAREHOUSE_NAME}}'
;





{% endmacro -%}